/*Nastavenie fontov*/

@font-face {
    font-family: 		helvetica_ultra;
    src: 				url(font/HelveticaBQ-UltraLight.otf);
}

@font-face {
    font-family: 		Myriad_Pro;
    src: 				url(font/MyriadPro-Semibold.otf);
}

@font-face {
    font-family: 		Myriad_Pro_cond;
    src: 				url(font/MyriadPro-Cond.otf);
}

/*Nastavenie hl. stranky*/

body
{
	margin: 			0px;
	padding: 			0px;
	background-image: 	url("pic/background.png");
	background-repeat: 	repeat;
	background-color: 	#171717;
	position: relative;
	color: white;
	font-family: helvetica_ultra;
}

#gold_pattern
{
	background-image: 	url("pic/gold_pattern.png");
	display: 			block;
	width: 				400px;
	height: 			458px;
	position: 			absolute;
	top:				0px;
	left:				0px;
	z-index: 			-1;
}

#sitie
{
	background-image: 	url("pic/sitie.png");
	background-repeat:  no-repeat;
	display: 			block;
	width: 				359px;
	height: 			838px;
	position: 			absolute;
	bottom:				0px;
	left:				0px;
	z-index: 			-2;
}

#logo
{
	background-image: 	url("pic/logo.png");
	display: 			block;
	width: 				291px;
	height: 			139px;
	position: 			absolute;
	top:				50px;
	left:				90px;
	z-index: 			2;
}

#header
{
	display: 			block;
	height: 			99px;
	width: 				100%;
	border-bottom: 		1px solid white;
}

a
{
	color:				white;
}

#upper
{
	display: 			block;
	height: 			0px;
	width: 				280px;
}

.menu_bar
{
	display: 			block;
	height: 			40px;
	width: 				280px;
	border-top: 		1px solid white;
	font-size: 			13pt;
}

.bar_text
{
	display: 			block;
	width: 				260px;
	height: 			100%;
	margin-top:         9px;
	text-align:         right;
}

.menu_bar:first-child 
{ 
    margin-top: 		150px;
}

.menu_bar:last-child 
{ 
    border-bottom: 		1px solid white;
}

#lower
{
	font-size: 			12pt;
	text-align: 		center;
	position: 			fixed;
	display: 			block;
	height: 			100px;
	width: 				280px;
	bottom:				0;
}

.lower_text
{
	display: 			block;
	height:				10px;
	margin-bottom: 		20px;

}

#right_side
{
	margin-top:         -150px;
	display: 			block;
	height:				960px;
	width: 				1016px;
	background-color:   white;
	margin-left: 		280px;
	overflow: 			hidden;
}

#one
{
	display: 			block;
	width: 				347px;
	height: 			665px;
	float:				left;
	background-repeat:  no-repeat;
	margin-left:		1px;
	position: 			relative;
}

#four
{
	display: 			block;
	width: 				259px;
	height: 			663px;
	float:				right;
	margin-right:		1px;
	margin-top:			1px;
	position: 			relative;
}

#two
{
	display: 			block;
	height: 			295px;
	width: 				666px;
	float:				right;
	margin-right:		1px;
	position: 			relative;
}

#five
{
	display: 			block;
	height: 			293px;
	width: 				752px;
	float:				left;
	margin-left:		1px;
	margin-top:			1px;
	position: 			relative;
}

#three
{
	height: 			369px;
	width: 				405px;
	float:				left;
	margin-left:		1px;
	margin-top:			1px;
	position: 			relative;
}



/*Nastavenie pravej strany je ina na stranke koncerty*/






#right_side_koncerty
{
	display: 			inline-block;
	color: 				black;
	margin-top:         -150px;
	width: 				1016px;
	background-color:   white;
	margin-left: 		280px;
}

#header_photo
{
	margin-left:	1px;
}

.item
{
	font-family: 		Myriad_Pro;
	display: 			block;
	width: 				800px;
	height:				220px;
	margin: auto;
	margin-top:         70px;
}

.item_pic
{
	display: 			block;
	width: 				400px;
	height:				220px;
	float: 				left;
}

.item_text
{
	display: 			block;
	width: 				400px;
	height:				190px;
	float: 				left;
}

.item_name
{
	font-size: 			20pt;
	display: 			block;
	width: 				500px;
	height:				30px;
	margin-top:			10px;
}

.item_time
{
	font-family: 		Myriad_Pro_cond;
	font-size: 			18pt;
	display: 			block;
	width: 				500px;
	height:				30px;
	margin-top:			4px;
	margin-left: 		30px;
}

.item_place
{
	font-family: 		Myriad_Pro_cond;
	font-size: 			18pt;
	display: 			block;
	width: 				500px;
	height:				30px;
	margin-left: 		30px;
}

.item_bought
{
	display: 			block;
	width: 				500px;
	height:				30px;
	margin-top: 		26px;
}


/*Nastavenie css pre prekryvajuce veci pre effekt*/

.horizontal_cover
{
	position:			absolute;

	left:				0;
	bottom: 			0;

	width:				100%;
	height:				0%;
	background-color:	black;
	background-color:   rgba(0,0,0,0.5);
	transition:			all 1.5s;
}

.cover_context
{
	display: 		block;
	width: 			100%;
	height: 		70px;

}

.cover_info
{
	display: 		block;
	width: 			100px;
	height: 		60px;
	opacity: 		1;
	float: 	left;
	margin-left: 	40px;
	margin-top: 	30px;
}

.cover_heading
{
	color: 			#fff050;
	display: 		block;
	width: 			200px;
	height: 		20px;
	opacity: 		1;
	font-size: 		18pt;
}

.cover_text
{
	margin-top: 	7px;
	display: 		block;
	width: 			200px;
	height: 		20px;
	opacity: 		1;
	font-size: 		14pt;
}

.cover_photo
{
	display: 		block;
	width: 			50px;
	height: 		20px;
	opacity: 		1;
	margin-top: 	25px;
	margin-left: 	120px;
	float:			left;
}
